# Database Configuration
DATABASE_URL=postgresql://postgres:password@localhost/position_management

# Solana Configuration
RPC_URL=http://127.0.0.1:8899
PROGRAM_ID=3BpQ5UZ3B3jK4SioSf31d2fLaSV3jDeu77ZE3EeVyraf
WALLET_PATH=/home/balaji/.config/solana/id.json

# Server Configuration
SERVER_HOST=0.0.0.0
SERVER_PORT=3000

# Logging
RUST_LOG=info
